.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #152850;
  padding: 10px;
}
.login-container {
  width: 80%;
  border-radius: 50px;
  display: flex;
}
.login-image {
  width: 50%;
  background-color: #e0eefe;
}
.form-container {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.login-button {
  margin-top: 20px;
}
.form-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #183b56;
}
.label {
  font-family: 'Roboto';
  font-size: 15px;
  color: #5a7184;
  font-weight: 600;
  margin-bottom: 5px;
}
.input {
  height: 36px;
  border: 1px solid #c3cad9;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 0 10px;
  outline: none;
}
.login-button {
  height: 36px;
  border: none;
  color: #ffffff;
  background-color: #1565d8;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.error {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
